/* =======================
******* Content ******
========================*/

#content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    text-align: justify;
}

#content section {
    margin-top: 2%;
    margin-bottom: 2%;
}

section h5 {
    padding-left: 16px;
}
.with-image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.with-image figure {
    align-self: center;
}

@media (min-width: 768px) {
    .with-image {
        flex-wrap: nowrap;
    }
}

figure img {
    max-width: 690px;
    max-height: 388px;
    width: 100%;
    height: auto;
}

.photo-astana {
    margin-left: 2%;
}

.android {
    margin-right: 2%;
}



