.place {
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
}
@media (max-width: 768px) {
    .place {
        flex-direction: column;
    }
}

.place > * {
    padding: 0 5px;
}

.place > .dates {
    flex-basis: 5%;
    align-self: center;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.place > .dates > .vl {
    border: 1px solid #000000;
    height: 70px;
}

@media (max-width: 768px) {
    .place > .dates  {
        flex-direction: row;
    }

    .place > .dates > .vl {
        height: 0;
        width: 70px;
        margin: 0 5px;
    }
}

.place > .name {
    flex-basis: auto;
    margin-left: 5%;
}

.place > .name > ul {
    list-style-position: inside;
}

.place figure {
    flex-basis: 20%;
    margin-left: auto;
}

.place figure img {
    min-width: 200px;
    max-height: 200px;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.place .college img {
    padding: 20px;
    background-color: #213b60;
}

@media (max-width: 768px) {
    .place figure {
        display: none;
    }
}