* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Lato, sans-serif;
}

body {
    background-color: #e9ebee;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "page-name"
                         "main-content";
    height: 100vh;
}

/* =======================
******* Typography ******
========================*/
h1 {
    font-size: 49px;
    line-height: 59px;
}

h2 {
    font-size: 39px;
    line-height: 47px;
}

h3 {
    font-size: 31px;
    line-height: 37px;
}

h4 {
    font-size: 25px;
    line-height: 30px;
}

h5 {
    font-size: 20px;
    line-height: 24px;
}

p, a, li {
    font-size: 16px;
    line-height: 24px;
}

.label {
    font-size: 12px;
    line-height: 14px;
}

@media (min-width: 768px) {
    h1 {
        font-size: 61px;
        line-height: 73px;
    }

    h2 {
        font-size: 49px;
        line-height: 59px;
    }

    h3 {
        font-size: 39px;
        line-height: 47px;
    }

    h4 {
        font-size: 31px;
        line-height: 37px;
    }

    h5 {
        font-size: 25px;
        line-height: 30px;
    }

    p, a, li {
        font-size: 20px;
        line-height: 30px;
    }

    .label {
        font-size: 16px;
        line-height: 19px;
    }
}

@media (min-width: 1024px) {
    h1 {
        font-size: 85px;
        line-height: 102px;
    }

    h2 {
        font-size: 68px;
        line-height: 82px;
    }

    h3 {
        font-size: 55px;
        line-height: 66px;
    }

    h4 {
        font-size: 44px;
        line-height: 53px;
    }

    h5 {
        font-size: 35px;
        line-height: 42px;
    }

    p, a, li {
        font-size: 28px;
        line-height: 42px;
    }

    .label {
        font-size: 22px;
        line-height: 26px;
    }
}

/* =======================
********* Header ********
========================*/
#header {
    grid-area: page-name;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 10px;
}

#title {
    justify-self: start;
    font-weight: 800;
    letter-spacing: 0.055em;
}

#title h1 {
    display: block;
}

#title + span {
    width: 100%;
}


/* =======================
******* Content ******
========================*/

#content {
    grid-area: main-content;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: "subtitle"
                         "contacts";
    padding: 10px;
}

.subtitle {
    grid-area: subtitle;
}

.subtitle h2 {
    text-align: end;
}


.contacts {
    grid-area: contacts;
    align-self: center;
}

@media (min-width: 768px) {
    .contacts {
        align-self: end;
    }
}

@media (min-width: 1024px) {
    .contacts {
        align-self: end;
    }
}

/* =======================
******* Navigation ******
========================*/

#navbar {
    display: none;
    background-color: #C4C4C4;
}

.side {
    height: 100%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
}

.links {
    height: 100%;
    list-style-type: none;
}

.links li > a {
    text-decoration: none;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
}

.links a:hover {
    color: #0474bc;
}

/* =======================
******* Mobile Menu ******
========================*/
.mobile-btn {
    justify-self: end;
    cursor: pointer;
    font-weight: bold;
    font-size: 35px;
}

.sidenav {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #C4C4C4;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav .closebtn {
    cursor: pointer;

    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Mobile to Tablet/Desktop */
@media (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: "page-name    navbar"
                             "main-content navbar";
    }

    #navbar {
        display: initial;
        grid-area: navbar;
        height: 100vh;
    }

    .mobile-btn {
        display: none;
    }
}
