/* =======================
******* Typography ******
========================*/
h1 {
    font-size: 49px;
    line-height: 59px;
}

h2 {
    font-size: 39px;
    line-height: 47px;
}

h3 {
    font-size: 31px;
    line-height: 37px;
}

h4, .links li > a  {
    font-size: 25px;
    line-height: 30px;
}

h5 {
    font-size: 20px;
    line-height: 24px;
}

p, a, li {
    font-size: 16px;
    line-height: 24px;
}

.label {
    font-size: 12px;
    line-height: 14px;
}

@media (min-width: 768px) {
    h1 {
        font-size: 61px;
        line-height: 73px;
    }

    h2 {
        font-size: 49px;
        line-height: 59px;
    }

    h3 {
        font-size: 39px;
        line-height: 47px;
    }

    h4, .links li > a  {
        font-size: 31px;
        line-height: 37px;
    }

    h5 {
        font-size: 25px;
        line-height: 30px;
    }

    p, a, li {
        font-size: 20px;
        line-height: 30px;
    }

    .label {
        font-size: 16px;
        line-height: 19px;
    }
}

@media (min-width: 1024px) {
    h1 {
        font-size: 85px;
        line-height: 102px;
    }

    h2 {
        font-size: 68px;
        line-height: 82px;
    }

    h3 {
        font-size: 55px;
        line-height: 66px;
    }

    h4, .links li > a {
        font-size: 44px;
        line-height: 53px;
    }

    h5 {
        font-size: 35px;
        line-height: 42px;
    }

    p, a, li {
        font-size: 28px;
        line-height: 42px;
    }

    .label {
        font-size: 22px;
        line-height: 26px;
    }
}
